@import 'fonts.scss';
@import 'variables.scss';
@import 'toast.scss';
@import 'transition-dialog.scss';

* {
  box-sizing: border-box;
  font-family: UbuntuMono, sans-serif;
}

body {
  overflow-x: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background: #fff;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
}

ul, ol {
  list-style-type: none;
}

a {
  list-style-type: none;
  text-decoration: none;
}

main.main-container {
  padding: 0 1rem;
}

.main-container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.n-collapse .n-collapse-item .n-collapse-item {
  margin-left: 14px;
}

.n-collapse .n-collapse-item .n-collapse-item__header .n-collapse-item__header-main {
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  padding-block: 8px;
}

.n-collapse .n-collapse-item .n-collapse-item__content-wrapper .n-collapse-item__content-inner {
  padding-top: 0;
}
